body {
  padding-top: 10px;
  padding-bottom: 40px;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 20px 0;
}
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
span.number {
  font-weight: bold;
  margin-right: 10px;
}
input[type="radio"] {
  margin-right: 10px;
}
li span.warning {
  display: block;
  background-color: #DD1144;
  color: #fff;
  padding: 5px 15px;
  margin: 0 -15px;
}
table.Differences thead th {
  background: #F7F7F9;
  border-color: #E1E1E8;
  border-width: 1px;
  border-style: solid;
}
table.Differences thead .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.Differences thead .time {
  display: none;
}
table.Differences thead:hover .time {
  display: inline;
}
table.Differences thead th:first-child {
  padding: 10px 15px;
  border-right: none;
}
table.Differences thead th:last-child {
  padding: 10px 15px 10px 0;
  border-left: none;
}
table.Differences tbody th {
  background-color: #fff;
  background: #F7F7F9;
  border-right: 1px solid #E1E1E8;
  border-left: 1px solid #E1E1E8;
}
table.Differences tbody td {
  border-right: 1px solid #E1E1E8;
}
table.Differences {
  color: #333333 !important;
  border-bottom: 1px solid #E1E1E8;
  box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.06);
}
.masterhead h3 img {
  position: relative;
  top: -2px;
}
.masterhead .nav {
  position: relative;
  top: 8px;
  margin-bottom: 0;
}
p.info {
  background-color: #C9E1FF;
  padding: 5px 7px;
  line-height: 14px;
}